<%- include('./partials/header'); %>

<div id="loader" class="center"></div>

<div class='card-title'>
  <div class='container-fluid'>
    <div class='row'>
      <div class="col-lg-12">
        <div class="card-header ml-3" style="width: 100%;">
          <h3 class="card-title text-center courseTitle" id="">Course Title</h3>
        </div>

        <div class='row mt-4 mb-3'>
          <div class="d-flex d-inline-block" style="margin: 0 auto;">
            <span class="fa fa-star fa-2x reviewRating"></span>
            <span class="fa fa-star fa-2x reviewRating"></span>
            <span class="fa fa-star fa-2x reviewRating"></span>
            <span class="fa fa-star fa-2x reviewRating"></span>
            <span class="fa fa-star fa-2x reviewRating"></span>
            <em class="align-self-center"><span class="totalReviewsTitle"></span></em>

            <h5 class="align-self-center mb-0" style="margin-left: 50px;">Difficulty: <span
                class="difficultyTitle"></span></h5>
          </div>
        </div>

        <!-- only show if logged in -->
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <% if (typeof user != "undefined") { %>
              <button class="btn btn-info mb-2" title="Save course" style="margin: 0 auto; display: block;" id="saveBtn">
                <i class="fas fa-save"></i>
              </button>
            <% } else { %>
              <button class="btn btn-info mb-2" title="Save course" style="margin: 0 auto; display: block;" id="saveBtn" disabled>
                <i class="fas fa-save"></i>
              </button>
            <% } %>
          </div>
        </div>

        <div class='row mb-3'>
          <div class='col-lg-6'>
            <div class="dropdown text-center">
              <select class="custom-select" id="instructorSelect" style="background-color: #adadad; width: 70%;">
                <option selected>All Instructors</option>
              </select>
            </div>
          </div>

          <div class='col-lg-6'>
            <div class="dropdown text-center">
              <select class="custom-select" id="termSelect" style="background-color: #adadad; width: 70%;">
                <option selected>All Terms</option>
              </select>
            </div>
          </div>
        </div>

        <div class='card-body'>
          <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <!-- grade distribution -->
                <h3 class="mb-0">Grade Distribution</h3>
                <div id="pieChart"></div>
              </div>
              <div class="carousel-item">
                <!-- rating over time -->
                <h3 class="mb-0">Course Rating Over Time</h3>
                <div id="barChart"></div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

        <!-- form section -->
        <div id="formSection" class="thumbnail text-muted pl-2 pr-2" style="width:75%; margin:auto; background-color: #FFF;">
          <h5 class="border-bottom pt-2">Latest reviews for this course:</h5>
          <div class="caption-full">
            <div class="form-group mt-3">
              <label for="reviewTextArea">Write your review, tips, or any comments</label>
              <div id="inputContainer" style="margin: 0 auto;">
                <span class="fa fa-star starClick1 starClick fa-lg" onclick="starClick(1)"></span>
                <span class="fa fa-star starClick2 starClick fa-lg" onclick="starClick(2)"></span>
                <span class="fa fa-star starClick3 starClick fa-lg" onclick="starClick(3)"></span>
                <span class="fa fa-star starClick4 starClick fa-lg" onclick="starClick(4)"></span>
                <span class="fa fa-star starClick5 starClick fa-lg" onclick="starClick(5)"></span>

                <select class="custom-select mb-2" id="difficultySelect"
                  style="background-color: #adadad; width: 40%; float:right;">
                  <option selected val='-1'>Difficulty</option>
                  <option val='1'>1</option>
                  <option val='2'>2</option>
                  <option val='3'>3</option>
                  <option val='4'>4</option>
                  <option val='5'>5</option>
                </select>
                <textarea class="form-control" id="reviewTextArea" rows="3"></textarea>
                <div class="d-flex flex-row-reverse">
                  <% if (typeof user != "undefined") { %>
                    <btn class="btn btn-primary mt-1 mb-4 submitBtn">Submit</btn>
                  <% } else { %>
                    <btn class="btn btn-primary mt-1 mb-4" title="You must be signed in to submit a review" disabled>Submit</btn>
                  <% } %>
                </div>
              </div>
            </div>

            <!-- start of reviews section -->
            <ul id="reviewsList" style='list-style-type: none;'>
              <% for (var i = 0; i < courseReviews.length; i++) { %>
              <li>
                <div class="row mb-4">
                  <div class="col-md-5">

                    <div>

                      <% for (var j = 0; j < 5; j++) { %>
                        <% if (j < courseReviews[i].stars) { %>
                          <span class="fa fa-star star<%=courseReviews[i].id%> fa-sm checked"></span>
                        <% } else { %>
                          <span class="fa fa-star star<%=courseReviews[i].id%> fa-sm"></span>
                        <% } %>
                      <% } %>

                    </div>
                    <div>
                      <small><em class="difficulty<%=courseReviews[i].id%>">Difficulty: <%= courseReviews[i].difficulty %></em></small>
                    </div>
                    <div>
                      <small>Review by: <strong><%= courseReviews[i].username %></strong></small>
                    </div>
                    <div>
                      <small><em>Written on: <%= courseReviews[i].date.toString().substring(0, 15) %></em></small>
                    </div>
                    <% if (typeof user != "undefined") { %>
                      <% if (courseReviews[i].username == user.username) { %>
                        <div>
                          <btn class='btn btn-warning editBtn btn-xs' id="<%=courseReviews[i].id%>">Edit</btn>
                          <btn class='btn btn-danger deleteBtn btn-xs' id="<%=courseReviews[i].id%>">Delete</btn>
                        </div>
                        <% } %>
                    <% } %>
                  </div>

                  <div class="col-md-7">
                    <p style="word-wrap: break-word;" class="comment<%=courseReviews[i].id%>"><%= courseReviews[i].comment %></p>
                  </div>
                </div>
              </li>
              <% } %>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('#loader').hide();
    $('.nav-item').removeClass('active border rounded');
    $('#coursesTab').addClass('active border rounded');
    var editing = false;
    var id;
    var editingIndex;
    var courseReviews = <%- JSON.stringify(courseReviews) %>;

    var courseInfo = <%- JSON.stringify(courseInfo) %>;

    $('.courseTitle').text(courseInfo[0].course_name + ' - ' + courseInfo[0].subject + courseInfo[0].number);
    $('.courseTitle').attr('id', courseInfo[0].courseID);

    // get unique instructors
    var instructorsAndId = {};
    for (i in courseInfo) {
      instructorsAndId[courseInfo[i].instructor] = courseInfo[i].instructor_id;
    }

    // add instructors to dropdown
    for (const [name, id] of Object.entries(instructorsAndId)) {
      $('#instructorSelect').append(`<option value="${id}"> 
                                        ${name} 
                                  </option>`);
    }

    // get unique terms
    var terms = {};
    for (i in courseInfo) {
      terms[courseInfo[i].semester + " " + courseInfo[i].year] = "";
    }

    // add terms to dropdown
    for (const [term, val] of Object.entries(terms)) {
      $('#termSelect').append(`<option value="${term}"> 
                                        ${term} 
                            </option>`);
    }

    var grades = constructGrades(null, null);

    // Display average rating and difficulty
    if (courseInfo[0].avgDifficulty == null) {
      $('.difficultyTitle').html('<small><em>No data yet</em></small>');
    } else {
      $('.difficultyTitle').text(courseInfo[0].avgDifficulty);
    }
    var avgRating = Math.ceil(parseInt(courseInfo[0].avgRating));
    $('.reviewRating').each(function (i) {
      if (i < avgRating) {
        $(this).addClass('checked');
      }
    });

    // Find total reviews
    var numReviews = <%- courseReviews.length %>;
    if (numReviews == 0) {
      $('.totalReviewsTitle').text('No reviews yet');
    } else {
      $('.totalReviewsTitle').text("Total reviews: " + numReviews);
    }

    /* CHARTS SECTION */
    // PIE chart
    am4core.ready(function () {

      // Themes begin
      am4core.useTheme(am4themes_animated);
      // Themes end

      // Create chart instance
      var chart1 = am4core.create("pieChart", am4charts.PieChart);

      // Add data
      chart1.data = grades;

      // Add and configure Series
      var pieSeries = chart1.series.push(new am4charts.PieSeries());
      pieSeries.dataFields.value = "num";
      pieSeries.dataFields.category = "grade";
      pieSeries.slices.template.stroke = am4core.color("#fff");
      pieSeries.slices.template.strokeOpacity = 1;

      // This creates initial animation
      pieSeries.hiddenState.properties.opacity = 1;
      pieSeries.hiddenState.properties.endAngle = -90;
      pieSeries.hiddenState.properties.startAngle = -90;

      // Display percentage
      chart1.hiddenState.properties.radius = am4core.percent(1);

      // Add legend
      chart1.legend = new am4charts.Legend();

      

      // BAR CHART HERE
      var chart2 = am4core.create("barChart", am4charts.XYChart);

      var courseRating = <%- JSON.stringify(courseRating) %>;
      var data = [];
      var termAndRating = {};
      for (i in courseRating) {
        if (courseRating[i].date != null && courseRating[i].avgRating != null) {
          var date = new Date(courseRating[i].date);
          termAndRating['date'] = date;
          termAndRating['avgRating'] = courseRating[i].avgRating;
          data.push(termAndRating);
          termAndRating = {};
        }
      }
      console.log(data);
      chart2.data = data;

      // Create axes
      var dateAxis = chart2.xAxes.push(new am4charts.DateAxis());
      dateAxis.renderer.minGridDistance = 5;

      dateAxis.gridIntervals.setAll([{
        timeUnit: "month",
        count: 2
      }]);

      var valueAxis = chart2.yAxes.push(new am4charts.ValueAxis());

      // Create series
      var series = chart2.series.push(new am4charts.LineSeries());
      series.dataFields.valueY = "avgRating";
      series.dataFields.dateX = "date";
      series.tooltipText = "{value}"

      series.tooltip.pointerOrientation = "vertical";

      chart2.cursor = new am4charts.XYCursor();
      chart2.cursor.snapToSeries = series;
      chart2.cursor.xAxis = dateAxis;

      //chart.scrollbarY = new am4core.Scrollbar();
      chart2.scrollbarX = new am4core.Scrollbar();


    }); // end am4core.ready()




    function constructGrades(instructorId, term) {
      var numA = 0;
      var numAB = 0;
      var numB = 0;
      var numBC = 0;
      var numC = 0;
      var numD = 0;
      var numF = 0;
      if (instructorId == null && term == null) {
        for (i in courseInfo) {
          numA += courseInfo[i].numA;
          numAB += courseInfo[i].numAB;
          numB += courseInfo[i].numB;
          numBC += courseInfo[i].numBC;
          numC += courseInfo[i].numC;
          numD += courseInfo[i].numD;
          numF += courseInfo[i].numF;
        }
      }

      return [{
          "grade": "A",
          "num": numA
        },
        {
          "grade": "AB",
          "num": numAB
        },
        {
          "grade": "B",
          "num": numB
        },
        {
          "grade": "BC",
          "num": numBC
        },
        {
          "grade": "C",
          "num": numC
        },
        {
          "grade": "D",
          "num": numD
        },
        {
          "grade": "F",
          "num": numF
        },
      ]
    }

    function starClick(numStars) {
      $('.starClick').each(function () {
        $(this).removeClass('realChecked');
      });

      $('.starClick').each(function (i) {
        if (i < numStars) {
          $(this).addClass('realChecked');
        }
      });
    }

    $('.starClick1').hover(function () {
      $('.starClick').each(function () {
        $(this).removeClass('checked');
      });
      $(this).addClass('checked');
    }, function () {
      $('.starClick').each(function () {
        $(this).removeClass('checked');
      })
    });

    $('.starClick2').hover(function () {
      $('.starClick').each(function () {
        $(this).removeClass('checked');
      });
      $('.starClick1').addClass('checked');
      $(this).addClass('checked');
    }, function () {
      $('.starClick').each(function () {
        $(this).removeClass('checked');
      })
    });

    $('.starClick3').hover(function () {
      $('.starClick').each(function () {
        $(this).removeClass('checked');
      });
      $('.starClick1').addClass('checked');
      $('.starClick2').addClass('checked');
      $(this).addClass('checked');
    }, function () {
      $('.starClick').each(function () {
        $(this).removeClass('checked');
      })
    });

    $('.starClick4').hover(function () {
      $('.starClick').each(function () {
        $(this).removeClass('checked');
      });
      $('.starClick1').addClass('checked');
      $('.starClick2').addClass('checked');
      $('.starClick3').addClass('checked');
      $(this).addClass('checked');
    }, function () {
      $('.starClick').each(function () {
        $(this).removeClass('checked');
      })
    });

    $('.starClick5').hover(function () {
      $('.starClick').each(function () {
        $(this).removeClass('checked');
      });
      $('.starClick1').addClass('checked');
      $('.starClick2').addClass('checked');
      $('.starClick3').addClass('checked');
      $('.starClick4').addClass('checked');
      $(this).addClass('checked');
    }, function () {
      $('.starClick').each(function () {
        $(this).removeClass('checked');
      })
    });


    // handle submit for a comment
    $('.submitBtn').on('click', function () {
      if (validateInput()) {
        $('#loader').show();
        // scrape data from page
        var comment = $('#reviewTextArea').val();
        var stars = 0;
        $('.starClick').each(function() {
          if ($(this).hasClass('realChecked')) {
            stars++;
          }
        });
        var difficulty = $('#difficultySelect').val();

        <% if (typeof user != "undefined") { %>
          var username = "<%- user.username %>";
        <% } %>
        
        var currentDate = new Date();
        var day = currentDate.getDate()
        var month = currentDate.getMonth() + 1
        var year = currentDate.getFullYear()
        currentDate = year + "-" + month + "-" + day;
        var courseID = "<%- courseInfo[0].courseID %>";

        console.log(comment, stars, difficulty, username, currentDate, courseID);
        
        if (editing && id != null) {
          // edit review
          $.ajax({
            url: '/courses/<%=courseInfo[0].courseID%>/comment',
            type: "PUT",
            data: {
              'stars': stars,
              'difficulty': difficulty,
              'comment': comment,
              'id': id
            },
            success: function(result) {
              $('#loader').hide();
              resetInput();

              // Update review in list
              $('.star' + id).each(function(i) {
                $(this).removeClass('checked');
              });
              $('.star' + id).each(function(i) {
                if (i < stars) {
                  $(this).addClass('checked');
                }
              });
              $('.comment' + id).text(comment);
              $('.difficulty' + id).text("Difficulty: " + difficulty);

              courseReviews[editingIndex].comment = comment;
              courseReviews[editingIndex].difficulty = difficulty;
              courseReviews[editingIndex].stars = stars;

              editing = false;
              id = null;
            },
            error: function(error) {
              $('#loader').hide();
              console.log(error);
            }
          });
        } else {
          // submit new review
          // ajax call to server to post comment
          $.ajax({
            url: '/courses/<%=courseInfo[0].courseID%>/comment',
            type: "POST",
            data: {
              'comment': comment,
              'stars': stars,
              'difficulty': difficulty,
              'username': username,
              'date': currentDate,
              'course_id': courseID
            },
            success: function(result) {
              $('#loader').hide();
              resetInput();

              // append to reviews list
                $('#reviewsList').prepend(`
              <li>
                  <div class="row mb-4">
                    <div class="col-md-5">

                      <div>

                        <span class="fa fa-star fa-sm star${result}"></span>
                        <span class="fa fa-star fa-sm star${result}"></span>
                        <span class="fa fa-star fa-sm star${result}"></span>
                        <span class="fa fa-star fa-sm star${result}"></span>
                        <span class="fa fa-star fa-sm star${result}"></span>

                      </div>
                      <div>
                        <small><em class="difficulty${result}">Difficulty: ${difficulty} </em></small>
                      </div>
                      <div>
                        <small>Review by: <strong>${username}</strong></small>
                      </div>
                      <div>
                        <small><em>Written on: ${currentDate}</em></small>
                      </div>
                          <div>
                            <btn class='btn btn-warning editBtn btn-xs' id='${result}'>Edit</btn>
                            <btn class='btn btn-danger deleteBtn btn-xs' id='${result}'>Delete</btn>
                          </div>
                    </div>

                    <div class="col-md-7">
                      <p style="word-wrap: break-word;" class="comment${result}">${comment}</p>
                    </div>
                  </div>
                </li>
              `).hide().fadeIn('500');
   
              $('.star' + result).each(function(i) {
                if (i < stars) {
                  $(this).addClass('checked');
                }
              });

              // Add to courseReviews var
              var newReview = {
                'comment': comment,
                'stars': stars,
                'difficulty': difficulty,
                'username': username,
                'date': currentDate,
                'course_id': courseID,
                'id': result
               }
              courseReviews.push(newReview);
            },
            error: function(error) {
              $('#loader').hide();
              console.log(error);
            }
          });
        } 
      } else {
        console.log("cant");
      }
    });

    function resetInput() {
      $('.starClick').each(function() {
        $(this).removeClass('realChecked');
      });

      $('#difficultySelect').val('-1');
      $('#reviewTextArea').val('');
    }

    function validateInput() {
      var checksPassed = 0;
      if ($('#reviewTextArea').val() == '') {
        $('#inputContainer').addClass('fillOut');
        setTimeout(function () {
          $('#inputContainer').removeClass('fillOut');
        }, 3000);
      } else {
        checksPassed++;
      }

      if ($('#difficultySelect').attr('val') == '-1') {
        $('#inputContainer').addClass('fillOut');
        setTimeout(function () {
          $('#inputContainer').removeClass('fillOut');
        }, 3000);
      } else {
        checksPassed++;
      }

      if (!($('.starClick1').hasClass('realChecked'))) {
        $('#inputContainer').addClass('fillOut');
        setTimeout(function () {
          $('#inputContainer').removeClass('fillOut');
        }, 3000);
      } else {
        checksPassed++;
      }

      if (checksPassed != 3) {
        return false;
      } else {
        return true;
      }
    }

    $('#reviewsList').delegate('.deleteBtn', 'click', function() {
      $('#loader').show();

      var id = $(this).attr('id');
      var btn = $(this);

      $.ajax({
        url: "/courses/<%=courseInfo[0].courseID%>/comment",
        type: "DELETE",
        data: {
          'id': id
        },
        success: function(result) {
          $('#loader').hide();
          btn.parent().parent().parent().parent().fadeOut('500');
        },
        error: function(error) {
          $('#loader').hide();
          console.log(error);
        }
      });
    });

  $('#reviewsList').delegate('.editBtn', 'click', function() {
    editing = true;
    id = $(this).attr('id');
    $('html, body').animate({
        scrollTop: $("#formSection").offset().top
    }, 1000);

    var comment;
    var stars;
    var difficulty;
    for (i in courseReviews) {
      if (courseReviews[i].id == id) {
        comment = courseReviews[i].comment;
        stars = courseReviews[i].stars;
        difficulty = courseReviews[i].difficulty;
        editingIndex = i;
        break;
      }
    }
    console.log(comment);
    $('#reviewTextArea').val(comment);
    $('.starClick').each(function(i) {
      $(this).removeClass('realChecked');
    });
    $('.starClick').each(function(i) {
      if (i < stars) {
        $(this).addClass('realChecked');
      }
    });

    $('#difficultySelect').val(difficulty);
  });

  // save a course
  <% if (typeof user != "undefined") { %>
    $('#saveBtn').on('click', function(e) {
      e.preventDefault();
      $('#loader').show();
      $.ajax({
        url: "/courses/<%=courseInfo[0].courseID%>/save",
        type: "POST",
        data: {
          'id': "<%=courseInfo[0].courseID%>",
          'username': "<%- user.username %>"
        },
        success: function(result) {
          $('#loader').hide();
        },
        error: function(error) {
          $('#loader').hide();
          console.log(error);
        }
      });
    });
  <% } %>
  </script>

  <%- include('./partials/footer'); %>