<%- include('../partials/header'); %>

<div id="loader" class="center"></div>

<div class='card-title'>
  <div class='container-fluid'>
    <div class='row'>
      <div class="col-lg-12">
        <div class="card-header ml-3" style="width: 100%;">
          <h3 class="card-title text-center"><%= coursesByInstructor[0].instructor %></h3>
        </div>

        <div class='row mt-4 mb-3'>
          <div style="margin: 0 auto;">
            <span class="fa fa-star fa-2x reviewRating"></span>
            <span class="fa fa-star fa-2x reviewRating"></span>
            <span class="fa fa-star fa-2x reviewRating"></span>
            <span class="fa fa-star fa-2x reviewRating"></span>
            <span class="fa fa-star fa-2x reviewRating"></span>
            <em>(Total Reviews: <%=reviews.length%>)</em>
          </div>
        </div>

        <h3 class="mb-0 mt-4 text-center">Rating Over Time</h3>
        <div id="barChart"></div>

        <!-- courses -->
        <h3 class="mb-0 mt-4 text-center">Courses Taught by this Instructor</h3>
        <table id="coursesByInstructorTable" class="table table-striped table-bordered hover dataTable" style="width:100%">
          <thead>
            <tr>
              <th>Subject</th>
              <th>Course</th>
              <th>Rating</th>
              <th>Difficulty</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < coursesByInstructor.length; i++) { %>
              <tr>
                <td><%= coursesByInstructor[i].subjectAbbr + " " + coursesByInstructor[i].course_number%></td>
                <td><a href="/courses/<%=coursesByInstructor[i].courseID%>"><%= coursesByInstructor[i].course_name %><a></td>
                </td>
                <td>

                  <% for (var j = 0; j < coursesByInstructor[i].avgRating; j++) { %>
                    <span class="fa fa-star fa-xs checked"></span>
                  <% } %>

                </td>
                <td><%= coursesByInstructor[i].avg_difficulty %></td>
              </tr>
            <% } %>
          </tbody>
        </table>

        <div id="formSection" class="thumbnail text-muted pl-2 pr-2 mt-4" style="width:75%; margin:auto; background-color: #FFF;">
          <h5 class="border-bottom pt-2 mt-3">Latest reviews for this instructor:</h5>
          <div class="caption-full">
            <div class="form-group mt-3">
              <label for="reviewTextArea">Write your review, tips, or any comments</label>
              <div style="margin: 0 auto;" id="inputContainer">
                <span class="fa fa-star starClick1 starClick fa-lg" onclick="starClick(1)"></span>
                <span class="fa fa-star starClick2 starClick fa-lg" onclick="starClick(2)"></span>
                <span class="fa fa-star starClick3 starClick fa-lg" onclick="starClick(3)"></span>
                <span class="fa fa-star starClick4 starClick fa-lg" onclick="starClick(4)"></span>
                <span class="fa fa-star starClick5 starClick fa-lg" onclick="starClick(5)"></span>
              </div>
              <textarea class="form-control" id="reviewTextArea" rows="3"></textarea>
              <div class="d-flex flex-row-reverse">
                <% if (typeof user != "undefined") { %>
                  <btn class="btn btn-primary mt-1 mb-4 submitBtn">Submit</btn>
                <% } else { %>
                  <btn class="btn btn-primary mt-1 mb-4" title="You must be signed in to submit a review" disabled>Submit</btn>
                <% } %>
              </div>
            </div>
          </div>
          
          <ul id="reviewsList" style='list-style-type: none;'>
            <% for (var i = 0; i < reviews.length; i++) { %>
              <li>
                <div class="row mb-4">
                  <div class="col-md-5">
                    <div>

                      <% for (var j = 0; j < 5; j++) { %>
                        <% if (j < reviews[i].rating) { %>
                          <span class="fa fa-star star<%=reviews[i].id%> fa-sm checked"></span>
                        <% } else { %>
                          <span class="fa fa-star star<%=reviews[i].id%> fa-sm"></span>
                        <% } %>
                      <% } %>
    
                    </div>
                    <div>
                      <small>Review by: <strong><%=reviews[i].username%></strong></small>
                    </div>
                    <div>
                      <small><em>Written on: <%= reviews[i].date.toString().substring(0, 15) %></em></small>
                    </div>
                    
                    <% if (typeof user != "undefined") { %>
                      <% if (reviews[i].username == user.username) { %>
                        <div>
                          <btn class='btn btn-warning editBtn btn-xs' id="<%=reviews[i].id%>">Edit</btn>
                          <btn class='btn btn-danger deleteBtn btn-xs' id="<%=reviews[i].id%>">Delete</btn>
                        </div>
                      <% } %>
                    <% } %>
    
    
                  </div>
    
                  <div class="col-md-7">
                    <p style="word-wrap: break-word;" class="comment<%=reviews[i].id%>"><%=reviews[i].comment%></p>
                  </div>
                </div>
              </li>
            <% } %>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var editing = false;
  var id;
  var editingIndex;
  var reviews = <%- JSON.stringify(reviews) %>;
  $('.nav-item').removeClass('active border rounded');
  $('#instructorsTab').addClass('active border rounded');

  // Calculate avg rating
  var courseRating = <%- JSON.stringify(reviews) %>;
  var totalRating = 0;

  for (i in courseRating) {
    totalRating += courseRating[i].rating;
  }
  var avgRating = totalRating / courseRating.length;

  $('.reviewRating').each(function(i) {
    if (i < avgRating) {
      $(this).addClass('checked');
    }
  })
</script>

<script>
  $('#loader').hide();

  am4core.ready(function () {

    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    // BAR CHART HERE
    var chart = am4core.create("barChart", am4charts.XYChart);

    var courseRating = <%- JSON.stringify(ratingOverTime) %>;
    var data = [];
    var termAndRating = {};
    for (i in courseRating) {
      if (courseRating[i].date != null && courseRating[i].avgRating != null) {
        var date = new Date(courseRating[i].date);
        termAndRating['date'] = date;
        termAndRating['avgRating'] = courseRating[i].avgRating;
        data.push(termAndRating);
        termAndRating = {};
      }
    }
    console.log(data);
    chart.data = data;

    // Create axes
    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
    dateAxis.renderer.minGridDistance = 5;
    dateAxis.gridIntervals.setAll([
      { timeUnit: "month", count: 2 }
    ]);

    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

    // Create series
    var series = chart.series.push(new am4charts.LineSeries());
    series.dataFields.valueY = "avgRating";
    series.dataFields.dateX = "date";
    series.tooltipText = "{value}"

    series.tooltip.pointerOrientation = "vertical";

    chart.cursor = new am4charts.XYCursor();
    chart.cursor.snapToSeries = series;
    chart.cursor.xAxis = dateAxis;

    //chart.scrollbarY = new am4core.Scrollbar();
    chart.scrollbarX = new am4core.Scrollbar();

  }); // end am4core.ready()
</script>

<script>
  function starClick(numStars) {
    $('.starClick').each(function () {
      $(this).removeClass('realChecked');
    });

    $('.starClick').each(function (i) {
      if (i < numStars) {
        $(this).addClass('realChecked');
      }
    });
  }

  $('.starClick1').hover(function () {
    $('.starClick').each(function () {
      $(this).removeClass('checked');
    });
    $(this).addClass('checked');
  }, function () {
    $('.starClick').each(function () {
      $(this).removeClass('checked');
    })
  });

  $('.starClick2').hover(function () {
    $('.starClick').each(function () {
      $(this).removeClass('checked');
    });
    $('.starClick1').addClass('checked');
    $(this).addClass('checked');
  }, function () {
    $('.starClick').each(function () {
      $(this).removeClass('checked');
    })
  });

  $('.starClick3').hover(function () {
    $('.starClick').each(function () {
      $(this).removeClass('checked');
    });
    $('.starClick1').addClass('checked');
    $('.starClick2').addClass('checked');
    $(this).addClass('checked');
  }, function () {
    $('.starClick').each(function () {
      $(this).removeClass('checked');
    })
  });

  $('.starClick4').hover(function () {
    $('.starClick').each(function () {
      $(this).removeClass('checked');
    });
    $('.starClick1').addClass('checked');
    $('.starClick2').addClass('checked');
    $('.starClick3').addClass('checked');
    $(this).addClass('checked');
  }, function () {
    $('.starClick').each(function () {
      $(this).removeClass('checked');
    })
  });

  $('.starClick5').hover(function () {
    $('.starClick').each(function () {
      $(this).removeClass('checked');
    });
    $('.starClick1').addClass('checked');
    $('.starClick2').addClass('checked');
    $('.starClick3').addClass('checked');
    $('.starClick4').addClass('checked');
    $(this).addClass('checked');
  }, function () {
    $('.starClick').each(function () {
      $(this).removeClass('checked');
    })
  });

      // handle submit for a comment
      $('.submitBtn').on('click', function () {
      if (validateInput()) {
        $('#loader').show();

        // scrape data from page
        var comment = $('#reviewTextArea').val();
        var stars = 0;
        $('.starClick').each(function() {
          if ($(this).hasClass('realChecked')) {
            stars++;
          }
        });

        <% if (typeof user != "undefined") { %>
          var username = "<%- user.username %>";
        <% } %>
        
        var currentDate = new Date();
        var day = currentDate.getDate()
        var month = currentDate.getMonth() + 1
        var year = currentDate.getFullYear()
        currentDate = year + "-" + month + "-" + day;
        var instructorID = "<%- coursesByInstructor[0].instructorID %>";

        //console.log(comment, stars, username, currentDate, instructorID);

        // ajax call to server to post comment
        if (editing && id != null) {
          $.ajax({
            url: '/instructors/<%=coursesByInstructor[0].instructorID%>/comment',
            type: "PUT",
            data: {
              'stars': stars,
              'comment': comment,
              'id': id
            }, success: function(result) {
              $('#loader').hide();
              resetInput();

              // Update review in list
              console.log('id', id);
              $('.star' + id).each(function(i) {
                $(this).removeClass('checked');
              });
              $('.star' + id).each(function(i) {
                if (i < stars) {
                  $(this).addClass('checked');
                }
              });
              $('.comment' + id).text(comment);

              reviews[editingIndex].rating = stars;
              reviews[editingIndex].comment = comment;

              editing = false;
              id = null;
              editingIndex = null;
            },
            error: function(error) {
              $('#loader').hide();
              console.log(error);
            }
          });
        
        } else {
          $.ajax({
            url: '/instructors/<%=coursesByInstructor[0].instructorID%>/comment',
            type: "POST",
            data: {
              'comment': comment,
              'stars': stars,
              'username': username,
              'date': currentDate,
              'instructor_id': instructorID
            },
            success: function(result) {
              $('#loader').hide();
              resetInput();
              console.log("res", result);

              // append to reviews list
                $('#reviewsList').prepend(`
              <li>
                  <div class="row mb-4">
                    <div class="col-md-5">

                      <div>

                        <span class="fa fa-star fa-sm star${result}"></span>
                        <span class="fa fa-star fa-sm star${result}"></span>
                        <span class="fa fa-star fa-sm star${result}"></span>
                        <span class="fa fa-star fa-sm star${result}"></span>
                        <span class="fa fa-star fa-sm star${result}"></span>

                      </div>
                      <div>
                        <small>Review by: <strong>${username}</strong></small>
                      </div>
                      <div>
                        <small><em>Written on: ${currentDate}</em></small>
                      </div>
                          <div>
                            <btn class='btn btn-warning editBtn btn-xs' id='${result}'>Edit</btn>
                            <btn class='btn btn-danger deleteBtn btn-xs' id='${result}'>Delete</btn>
                          </div>
                    </div>

                    <div class="col-md-7">
                      <p style="word-wrap: break-word;" class="comment${result}">${comment}</p>
                    </div>
                  </div>
                </li>
              `).hide().fadeIn('500');
              
              $('.star' + result).each(function(i) {
                if (i < stars) {
                  $(this).addClass('checked');
                }
              });

              var newReview =  {
                'comment': comment,
                'rating': stars,
                'username': username,
                'date': currentDate,
                'instructor_id': instructorID,
                'id': result
              };
              reviews.push(newReview);
            },
            error: function(error) {
              $('#loader').hide();
              console.log(error);
            }
          });
        }
      } else {
        console.log("cant");
      }
    });



  function resetInput() {
      $('.starClick').each(function() {
        $(this).removeClass('realChecked');
      });

      $('#reviewTextArea').val('');
    }

    function validateInput() {
      var checksPassed = 0;
      if ($('#reviewTextArea').val() == '') {
        $('#inputContainer').addClass('fillOut');
        setTimeout(function () {
          $('#inputContainer').removeClass('fillOut');
        }, 3000);
      } else {
        checksPassed++;
      }

      if (!($('.starClick1').hasClass('realChecked'))) {
        $('#inputContainer').addClass('fillOut');
        setTimeout(function () {
          $('#inputContainer').removeClass('fillOut');
        }, 3000);
      } else {
        checksPassed++;
      }

      if (checksPassed != 2) {
        return false;
      } else {
        return true;
      }
    }
  
  $('#reviewsList').delegate('.deleteBtn', 'click', function() {
    $('#loader').show();

    var id = $(this).attr('id');
    var btn = $(this);

    $.ajax({
      url: "/instructors/<%=coursesByInstructor[0].instructorID%>/comment",
      type: "DELETE",
      data: {
        'id': id
      },
      success: function(result) {
        $('#loader').hide();
        btn.parent().parent().parent().parent().fadeOut('500');
      },
      error: function(error) {
        $('#loader').hide();
        console.log(error);
      }
    });
  });

  $(document).ready(function() {
    $('#coursesByInstructorTable').DataTable({
        'columnDefs': [
        ],
        "scrollX": true,
        "deferRender": true,
        "fnDrawCallback": function() {
          $('#loader').hide();
        }
    });
  });

  $('#reviewsList').delegate('.editBtn', 'click', function() {
    editing = true;
    id = $(this).attr('id');
    $('html, body').animate({
        scrollTop: $("#formSection").offset().top
    }, 1000);

    var comment;
    var rating;
    for (i in reviews) {
      if (reviews[i].id == id) {
        comment = reviews[i].comment;
        stars = reviews[i].rating;
        console.log(reviews[i]);
        editingIndex = i;
        break;
      }
    }
    console.log(comment);
    $('#reviewTextArea').val(comment);
    $('.starClick').each(function(i) {
      $(this).removeClass('realChecked');
    });
    $('.starClick').each(function(i) {
      if (i < stars) {
        $(this).addClass('realChecked');
      }
    });
  });
</script>

<%- include('../partials/footer'); %>